<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding style="text-align:justify;">
  This is <a href="http://www.jobsarina.com/">Jobsarina.com</a> app which provides all the information and notifications regarding current Govt. sector openings. Most of the eligible candidates do not get the information on time regarding current openings in Govt. as well as private sector that's why they don't get to apply on time. So we have taken an initiative, we provide all latest government jobs notifications information as soon as they arrive like SSC, Railway, Defence, Bank Jobs, UPSC etc for all educational groups through this website. Our target is to reach every eligible and talented candidate who can serve & lead the various departments of India with honesty and passion and take our Incredible India to the new heights.
</ion-content>
