<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Privacy Policy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding style="text-align:justify;">
    This privacy policy has been compiled to better serve those who are concerned with how their "Personally Identifiable Information" is being used online. Please read our privacy policy carefully to get better understanding of how we collect, use, protect & handle your Personally Identifiable Information in
    accordance to our website.
    
    <br><br><b>What Personal Information do we collect from the people who visit our blog, website or app ? </b><br>
    In general, you can visit Jobsarina.com without telling us who you are or revealing any information about yourself. We collect the domain names, ip addresses and device operating system of visitors. This information is collected to measure the number of visits, average time spent on the site, pages viewed and similar information. When registering or subscribing to our website, you may be asked to enter your Email address and other details to help you with your experience. Jobsarina.com uses this information to measure the use of our site and to develop ideas to improve the content of our site. We Are Committed to Safeguarding Personal Information In order to better serve your needs now and in the future.
    
    <br><br><b>How do we protect your information?</b><br>
    
    We do not use vulnerability scanning.
    We only provide free articles and information. We never ask for any credit/debit card information.
    
    We do not use malware scanning.
    
    We never share your Personal Information with third parties.
    
    We do not use SSL Certificate.
    
    <br><br><b>We do not need SSL because:</b><br>
    
    We only ask for information when anyone visits our website. We never share this information with anyone.
    
    <br><br><b>Use of Information </b><br>
    We request information from you for our own legitimate business purposes and not for the benefit of any non-affiliated party. Therefore, we will not release your information to non-affiliated parties except: (1) as necessary for us to provide the product or service you have requested of us; (2) as permitted by law; or (3) as otherwise specified herein. Such information may be used for any internal purpose, such as quality control efforts or analysis.
    
    <br><br><b>Disclaimer</b><br>
    
    <a href="http://www.jobsarina.com/">Jobsarina.com</a> provides the content from various information sources ‘as is’ and the content to be used only for informational purpose and not responsible for the inaccuracy or deficiency of the provided information. Jobsarina.com have the rights, to make modifications in any aspect of the provided information.
    
    Jobsarina.com website may contain links to other Internet sites. While we try to link only to sites that share our high standards and respect for privacy, we are not responsible for the content or the privacy practices employed by other sites.
    
    <br><br><b>Cookies</b><br> 
    This website and some of Internet sites may make use of “cookie” technology to measure site activity and to customize information to your personal tastes. A cookie is an element of data that an Internet site can send to your browser, which may then store the cookie on your hard drive. The goal of this technology is to better serve you when visiting our website, save you time when you are here and to provide you with a more meaningful and productive website experience.
    
    <br><br><b>Double-click DART Cookie </b><br>
    Google, as a third party vendor, uses cookies to serve ads on www.Jobsarina.com.
    Google’s use of the DART cookie enables it to serve ads to users based on their visit to www.Jobsarina.com and other sites on the Internet. Users may opt out of the use of the DART cookie by visiting the Google ad and content network privacy policy at the following URL – http://www.google.com/privacy/ads/
    
    <br><br><b>Third-Party Disclosure</b><br>
    
    We do not sell, trade or otherwise transfer your Personal identifiable information to third parties.
    
    Some of our advertising partners may use cookies and web beacons on our website. These third-party ad servers or ad networks use technology to the advertisements and links that appear on www.Jobsarina.com send directly to your browsers. They automatically receive your IP address when this occurs. Other technologies ( such as cookies, JavaScript, or Web Beacons ) may also be used by the third-party ad networks to measure the effectiveness of their advertisements and / or to personalize the advertising content that you see.
    
    www.Jobsarina.com has no access to or control over these cookies that are used by third-party advertisers.
    
    You should consult the respective privacy policies of these third-party ad servers for more detailed information on their practices as well as for instructions about how to opt-out of certain practices. www.Jobsarina.com’s privacy policy does not apply to, and we cannot control the activities of, such other advertisers or web sites.
    
    If you wish to disable cookies, you may do so through your individual browser options. More detailed information about cookie management with specific web browsers can be found at the browsers’ respective websites.
    
    Third Party Links
    
    Occasionally, at our discretion, we may include or offer third party products or services on our website. These third party websites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites.
    
    Google
    
    We use Google Adsense advertising on our website. Google's advertising requirements can be summed up by Google's advertising principles. They are put in place to provide a positive experience for users.
    
    We have implemented the following:
    
    Demographics and interests reporting
    
    We along with third-party vendors such as Google use first-party cookies (such as Google Analytics cookies) and third-party cookies (such as DoubleClick cookie) or other third party identifiers together to compile data regarding user interactions with ad impressions and other ad service functions as they relate to our website.
    
    Opting out
    
    Users can set preferences for hoe Google advertises to you using Google Ad settings page. Alternatively, you can opt out by visiting the network advertising initiative opt out page or by using the Google Analytics Opt Out Browser Add On.
    
    You will be notified of any privacy Policy Changes:
    
    On our website's Privacy Policy page.
    
    <br><br><b>Copyright</b><br>
    
    If any website wants to link to our articles or quote on it, needs to follow these guidelines.
    
    Use only summary (generally 3 to 5 sentences) from our article and give a link to our article for readers to read full story. You must credit Jobsarina.com with anchor text/hyperlink pointing to our domain name or article. Never publish full article from our site without our permission.
</ion-content>
